*{
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

body{
  background-image: url(../img/fondo.jpg) ;
  background-size: cover;
  background-repeat: no-repeat;
  color: #fff;
  font-size: 16px;
  
}

.wrap{
  width: 90%;
  margin:0 auto;
  
}

.widget{
  width: 40%;
  margin: 2em;

}

.widget p{
  display: inline-block;
  line-height: 1em;
}

.fecha{
  font-family: Oswald, Arial;
  text-align: center;
  font-size: 1.5em;
  margin-bottom: 5px;
  background: rgba(0, 0, 0, .5);
  padding: 20px;
  width: 100%;
}

.reloj{
  font-family: Oswald, Arial;
  text-align: center;
  font-size: 4em;
  background: rgba(0, 0, 0, .5);
  padding: 20px;
  width: 100%;
}

.reloj .caja-segundos{
display: inline-block;
}

.reloj .segundos,
.reloj .ampm {
  font-size: 2rem;
  display: block;
}


@media (max-width:512px) {
  body{
    background-size: auto;
  }

  .wrap{
    width: 100%;
    margin: 50% -8%;
    
  }

  .widget{
    width: 100%;
    margin: 2em;
  
  }

  .widget p{
    margin: 4px;
  }

  .fecha {
    display: flex;
    
  }
}